/* Container */
.offers-container {
  width: 100%;
  align-items: center; }
  .offers-container h4 {
    margin-top: 36px;
    margin-bottom: 0; }
  .offers-container h5 {
    margin-bottom: 18px; }
  .offers-container .subtitle {
    font-size: 18px;
    font-style: italic; }

/* Survey */
.offers-container .radio > label {
  font-size: 18px; }
.offers-container .survey-step-container {
  margin-top: 36px;
  min-height: 240px;
  width: 440px; }
  .offers-container .survey-step-container p {
    font-size: 18px;
    margin-bottom: 36px; }
.offers-container .survey-nav {
  margin-top: 24px; }
.offers-container .help-block {
  font-size: 18px;
  margin-top: 18px;
  color: #e51c23; }
.offers-container img {
  margin-top: 12px;
  margin-bottom: 18px;
  width: 100px;
  height: 100px; }
