<h4 class="bold">Discover New Campaigns</h4>
<div class="x-flex campaigns-list-container">
	<div class="y-flex campaigns-list-card" ui-sref="campaigns.show">	
		<div class="y-flex card-label">
			<h4 class="bold">Tiggy the Tigerator</h4>
			<span class="subtitle">Bringing beer to the masses</span>
		</div>
		<img src="/modules/core/img/temp/tiggy.png"/>
	</div>
	<div class="y-flex campaigns-list-card" ui-sref="campaigns.show">	
		<div class="y-flex card-label">
			<h4 class="bold">Tiggy the Tigerator</h4>
			<span class="subtitle">Bringing beer to the masses</span>
		</div>
		<img src="/modules/core/img/temp/tiggy.png"/>
	</div>
	<div class="y-flex campaigns-list-card" ui-sref="campaigns.show">
		<div class="y-flex card-label">
			<h4 class="bold">Tiggy the Tigerator</h4>
			<span class="subtitle">Bringing beer to the masses</span>
		</div>
		<img src="/modules/core/img/temp/tiggy.png"/>
	</div>
	<div class="y-flex campaigns-list-card" ui-sref="campaigns.show">
		<div class="y-flex card-label">
			<h4 class="bold">Tiggy the Tigerator</h4>
			<span class="subtitle">Bringing beer to the masses</span>
		</div>
		<img src="/modules/core/img/temp/tiggy.png"/>
	</div>
	<div class="y-flex campaigns-list-card" ui-sref="campaigns.show">
		<div class="y-flex card-label">
			<h4 class="bold">Tiggy the Tigerator</h4>
			<span class="subtitle">Bringing beer to the masses</span>
		</div>
		<img src="/modules/core/img/temp/tiggy.png"/>
	</div>
	<div class="y-flex campaigns-list-card" ui-sref="campaigns.show">
		<div class="y-flex card-label">
			<h4 class="bold">Tiggy the Tigerator</h4>
			<span class="subtitle">Bringing beer to the masses</span>
		</div>
		<img src="/modules/core/img/temp/tiggy.png"/>
	</div>
</div>