<h4 class="bold">Tiggy the Tigerator</h4>
<span class="subtitle">Bringing beer to the masses</span>
<div class="x-flex campaigns-main-content text-left">
	<div class="campaigns-show-photo">
		<img src="/modules/core/img/temp/tiggy.png"/>
	</div>
	<div class="campaigns-show-text">
		<dl>
		  <dt>Description</dt>
		  <dd>Help us raise capital to enhance Tiggy for Reunions 2016!</dd>
		  <br>
		  <dt>Thresholds:</dt>
		  <dd>500 Karma: Basic stuff</dd>
		  <dd>1,000 Karma: Legit stuff</dd>
		  <dd>2,000 Karma: Awesome stuff</dd>
		  <dd>5,000 Karma: Michael Jordan-level stuff</dd>
		  <br>
		</dl>
	</div>
</div>

<button class="btn btn-lg btn-success contribute-button" ui-sref="campaigns.offers">
	Contribute to this campaign!
</button>

<h5 class="bold text-center">Progress</h5>

<div class="progress">
	<div class="progress-bar progress-bar-primary progress-bar-striped" style="width: 35%">350</div>
	<div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 20%">200</div>
	<div class="progress-bar progress-bar-danger progress-bar-striped" style="width: 10%">100</div>
</div>
<div class="progress-legend text-left">
	<ul>
		<li><div class="legend-color primary"></div>Surveys</li>
		<li><div class="legend-color warning"></div>Ad Views</li>
		<li><div class="legend-color danger"></div>App Trials</li>
	</ul>
</div>