<h4 class="bold">Discover New Campaigns</h4>
<div class="x-flex campaigns-list-container">
	<div ng-repeat="campaign in campaigns" class="y-flex campaigns-list-card" ng-click='selectCampaign($index)'
	ng-style="{'background': 'linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4), rgba(0,0,0,0)),
	url(/modules/campaigns/img/temp/{{campaign.img}})'}">	
		<div class="y-flex card-label">
			<h4 class="bold">{{campaign.title}}</h4>
			<span class="subtitle">{{campaign.subtitle}}</span>
		</div>

	</div>
</div>