<h4 class="bold">Choose your Contribution</h4>
<span class="subtitle">Tiggy the Tigerator</span>
<div class="campaigns-offers-container">
	<div class="x-flex campaigns-offers-row">
		<img src="/modules/core/img/temp/clipboard@2x.png"/>
		<div class="row-label">
			<h5>Fill out a survey!</h5>
			<p><i>(approx 10 minutes)</i><p>
			<p>sponsored by Bonobos</p>
		</div>
		<div class="karma-label">
			<span>10 karma</span>
		</div>
	</div>
	<div class="x-flex campaigns-offers-row">
		<img src="/modules/core/img/temp/responsive@2x.png"/>
		<div class="row-label">
			<h5>Try out an app!</h5>
			<p><i>(approx 20 minutes)</i><p>
			<p>sponsored by Apple</p>
		</div>
		<div class="karma-label">
			<span>5 karma</span>
		</div>
	</div>
	<div class="x-flex campaigns-offers-row">
		<img src="/modules/core/img/temp/retina@2x.png"/>
		<div class="row-label">
			<h5>Watch a video!</h5>
			<p><i>(approx 3 minutes)</i><p>
			<p>sponsored by Coca Cola</p>
		</div>
		<div class="karma-label">
			<span>2 karma</span>
		</div>
	</div>
</div>