<section>
	<div  class="y-flex learn-container">
		<div>
			<h2>Clickstarter is a platform for funding causes without asking for money</h2>
			<p>We give up millions of hours a year to social media, ads, and apps with nothing to show for it.  <strong><i>Why not use that time for good?</i></strong></p>
			<p>Together, we can channel our attention in a way that drives the causes we care about: charities, entrepreneurs, sports teams, clubs, the list goes on...</p>
			<p>There's no obligation and no commitment - just hop on and try out a survey, app, or ad - that's all it takes to lend some much-needed support to a great cause!
		</div>
	</div>
</section>