<section>
	<div class="x-flex campaigns-container">
		<div ui-view align="center" class="y-flex campaigns-main">
		</div>
		<div class="campaigns-feeds">
			<div class="campaigns-feeds-popular">
				<h5 class="text-center"><i>Popular</i></h5>
				<div class="feed-item">
					<div class="feed-item-img"><img src="/modules/core/img/temp/tiggy.png"/></div>
					<p class="feed-item-text">Testing a multiline description of an event</p>
					<hr>
				</div>
				<div class="feed-item">
					<div class="feed-item-img"><img src="/modules/core/img/temp/tiggy.png"/></div>
					<p class="feed-item-text">Testing a multiline description of an event</p>
					<hr>
				</div>
				<div class="feed-item">
					<div class="feed-item-img"><img src="/modules/core/img/temp/tiggy.png"/></div>
					<p class="feed-item-text">Testing a multiline description of an event</p>
					<hr>
				</div>
				<div class="feed-item">
					<div class="feed-item-img"><img src="/modules/core/img/temp/tiggy.png"/></div>
					<p class="feed-item-text">Testing a multiline description of an event</p>
				</div>
			</div>
			<div class="campaigns-feeds-friends">
				<h5 class="text-center"><i>Friend Activity</i></h5>	
				<div class="feed-item">
					<div class="feed-item-img"><img src="/modules/core/img/temp/tiggy.png"/></div>
					<p class="feed-item-text">Testing a multiline description of an event</p>
					<hr>
				</div>
				<div class="feed-item">
					<div class="feed-item-img"><img src="/modules/core/img/temp/tiggy.png"/></div>
					<p class="feed-item-text">Testing a multiline description of an event</p>
					<hr>
				</div>
				<div class="feed-item">
					<div class="feed-item-img"><img src="/modules/core/img/temp/tiggy.png"/></div>
					<p class="feed-item-text">Testing a multiline description of an event</p>
					<hr>
				</div>
				<div class="feed-item">
					<div class="feed-item-img"><img src="/modules/core/img/temp/tiggy.png"/></div>
					<p class="feed-item-text">Testing a multiline description of an event</p>
				</div>	
			</div>
		</div>
	</div>
</section>