<section>
	<div class="x-flex campaigns-container">
		<div ui-view class="y-flex campaigns-main text-center">
		</div>
		<div class="campaigns-feeds">
			<div class="campaigns-feeds-popular">
				<h5 class="text-center"><i>Popular</i></h5>
				<div class="feed-item">
					<div class="feed-item-img"><img src="/modules/campaigns/img/temp/faraday.png"/></div>
					<p class="feed-item-text"><strong>Light Up Faraday</strong> has raised over 500 karma in the past 2 days</p>
					<hr>
				</div>
				<div class="feed-item">
					<div class="feed-item-img"><img src="/modules/campaigns/img/temp/tiggy.png"/></div>
					<p class="feed-item-text"><strong>Tiggy the Tigerator</strong> has raised over 2000 karma in the past week</p>
					<hr>
				</div>
				<div class="feed-item">
					<div class="feed-item-img"><img src="/modules/campaigns/img/temp/disney.png"/></div>
					<p class="feed-item-text"><strong>Disney Princess Half Marathon</strong> was just launched</p>
					<hr>
				</div>
				<div class="feed-item">
					<div class="feed-item-img"><img src="/modules/campaigns/img/temp/june.png"/></div>
					<p class="feed-item-text"><strong>Drifting June</strong> has drawn over 400 individual contributors</p>
					<hr>
				</div>
				<div class="feed-item">
					<div class="feed-item-img"><img src="/modules/campaigns/img/temp/hemp.png"/></div>
					<p class="feed-item-text"><strong>Hemp Building at Idaho Base Camp</strong> has drawn over 300 individual contributors</p>
					<hr>
				</div>
				<div class="feed-item">
					<div class="feed-item-img"><img src="/modules/campaigns/img/temp/charlie.png"/></div>
					<p class="feed-item-text"><strong>Cheers for Charlie</strong> has raised over 1000 karma in the past month</p>
				</div>
			</div>
			<div class="campaigns-feeds-friends">
				<h5 class="text-center"><i>Friend Activity</i></h5>	
				<div class="feed-item">
					<div class="feed-item-img"><img src="/modules/campaigns/img/temp/tiggy.png"/></div>
					<p class="feed-item-text"><strong>Joe McDale</strong> just made a contribution to <strong>Tiggy the Tigerator</strong></p>
					<hr>
				</div>
				<div class="feed-item">
					<div class="feed-item-img"><img src="/modules/campaigns/img/temp/tiggy.png"/></div>
					<p class="feed-item-text"><strong>Jenny Ostrow</strong> just made a contribution to <strong>Tiggy the Tigerator</strong></p>
					<hr>
				</div>
				<div class="feed-item">
					<div class="feed-item-img"><img src="/modules/campaigns/img/temp/tiggy.png"/></div>
					<p class="feed-item-text"><strong>Christina Johnson</strong> just made a contribution to <strong>Tiggy the Tigerator</strong></p>
					<hr>
				</div>
				<div class="feed-item">
					<div class="feed-item-img"><img src="/modules/campaigns/img/temp/hemp.png"/></div>
					<p class="feed-item-text"><strong>Antoine Lopez</strong> just made a contribution to <strong>Hemp Building at Idaho Base Camp</strong></p>
					<hr>
				</div>
				<div class="feed-item">
					<div class="feed-item-img"><img src="/modules/campaigns/img/temp/charlie.png"/></div>
					<p class="feed-item-text"><strong>Amy Garner</strong> just made a contribution to <strong>Cheers for Charlie</strong></p>
					<hr>
				</div>
				<div class="feed-item">
					<div class="feed-item-img"><img src="/modules/campaigns/img/temp/charlie.png"/></div>
					<p class="feed-item-text"><strong>Arthur Stanhope</strong> just made a contribution to <strong>Cheers for Charlie</strong></p>
				</div>		
			</div>
		</div>
	</div>
</section>