<section>
	<div hbox class="campaigns-container">
		<!-- <div vbox class="campaigns-filters text-center">
			<h5>Navigator</h5>
			<div vbox class="campaigns-filters-content text-left">
				<ul class="list-unstyled">
					<li>Charities</li>
					<ul>
						<li>Physical Health</li>
						<li>Mental Health</li>
					</ul>
					<li>Entertainment</li>
					<ul>
						<li>Events</li>
						<li>Movies</li>
						<li>Music</li>
					</ul>
					<li>Startups</li>
					<ul>
						<li>Software</li>
						<li>Hardware</li>
						<li>Services</li>
					</ul>
					<li>Miscellaneous</li>
					<ul>
						<li>Sports Teams</li>
						<li>Clubs</li>
					</ul>
				</ul>

			</div>
		</div> -->
		<div vbox align="center" class="campaigns-main">
			<h4 class="bold">Tiggy the Tigerator</h4>
			<span class="subtitle">Bringing beer to the masses</span>
			<div hbox class="campaigns-main-content text-left">
				<div grow="1" class="campaign-photos">
					<img src="/modules/core/img/temp/tiggy.png"/>
				</div>
				<div grow="5" class="campaign-text">
					<dl>
					  <dt>Description</dt>
					  <dd>Help us raise capital to enhance Tiggy for Reunions 2016!</dd>
					  <br>
					  <dt>Thresholds:</dt>
					  <dd>500 Views: Basic stuff</dd>
					  <dd>1,000 Views: Legit stuff</dd>
					  <dd>2,000 Views: Awesome stuff</dd>
					  <dd>5,000 Views: Michael Jordan-level stuff</dd>
					  <br>
					</dl>
				</div>
			</div>
			<h5 class="bold">Progress</h5>

			<div class="progress">
				<div class="progress-bar progress-bar-primary progress-bar-striped" style="width: 35%">350</div>
				<div class="progress-bar progress-bar-success progress-bar-striped" style="width: 20%">200</div>
				<div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 10%">100</div>
			</div>
			<div class="progress-legend text-left">
				<ul>
					<li><div class="legend-color primary"></div>Surveys</li>
					<li><div class="legend-color success"></div>Ad Views</li>
					<li><div class="legend-color warning"></div>App Trials</li>
				</ul>
			</div>
		</div>
		<div class="campaigns-feeds">
			<div class="campaigns-feeds-popular">
				<h5 class="text-center"><i>Popular</i></h5>
				<div class="feed-item">
					<div class="feed-item-img"><img src="/modules/core/img/temp/tiggy.png"/></div>
					<p class="feed-item-text">Testing a multiline description of an event</p>
					<hr>
				</div>
				<div class="feed-item">
					<div class="feed-item-img"><img src="/modules/core/img/temp/tiggy.png"/></div>
					<p class="feed-item-text">Testing a multiline description of an event</p>
					<hr>
				</div>
				<div class="feed-item">
					<div class="feed-item-img"><img src="/modules/core/img/temp/tiggy.png"/></div>
					<p class="feed-item-text">Testing a multiline description of an event</p>
					<hr>
				</div>
				<div class="feed-item">
					<div class="feed-item-img"><img src="/modules/core/img/temp/tiggy.png"/></div>
					<p class="feed-item-text">Testing a multiline description of an event</p>
					<hr>
				</div>
			</div>
			<div class="campaigns-feeds-friends">
				<h5 class="text-center"><i>Friend Activity</i></h5>	
				<div class="feed-item">
					<div class="feed-item-img"><img src="/modules/core/img/temp/tiggy.png"/></div>
					<p class="feed-item-text">Testing a multiline description of an event</p>
					<hr>
				</div>
				<div class="feed-item">
					<div class="feed-item-img"><img src="/modules/core/img/temp/tiggy.png"/></div>
					<p class="feed-item-text">Testing a multiline description of an event</p>
					<hr>
				</div>
				<div class="feed-item">
					<div class="feed-item-img"><img src="/modules/core/img/temp/tiggy.png"/></div>
					<p class="feed-item-text">Testing a multiline description of an event</p>
					<hr>
				</div>
				<div class="feed-item">
					<div class="feed-item-img"><img src="/modules/core/img/temp/tiggy.png"/></div>
					<p class="feed-item-text">Testing a multiline description of an event</p>
					<hr>
				</div>	
			</div>
		</div>
	</div>
</section>