/* General */
.bold {
  font-weight: bold; }

.logo-font {
  font-family: 'Carter One', Roboto, 'Helvetica Neue', Helvetica; }

.content-container {
  max-width: 80%;
  margin-top: 24px; }

dl dd {
  line-height: 22px; }

/* Forms */
.form-group .help-block {
  color: #e51c23;
  display: none;
  margin-bottom: 0; }

.form-group.has-error .help-block {
  display: block; }

/* FlexBox */
.x-flex {
  display: flex;
  flex-direction: row; }

.y-flex {
  display: flex;
  flex-direction: column; }

/* Colors */
.primary {
  background-color: #2196f3; }

.success {
  background-color: #4caf50; }

.warning {
  background-color: #ff9800; }

.danger {
  background-color: #E51C23; }

/* Header */
.navbar {
  margin-bottom: 0; }

.navbar-brand {
  color: white !important;
  font-size: 24px; }

/* Home */
.jumbotron {
  margin-top: 60px;
  max-width: 80%; }

@media (max-width: 768px) {
  .jumbotron {
    padding: 40px; } }
